@import "/src/mixins/mixin.scss";
.news-page-block{
	min-width: 350px;
	height: 175px;
	background-color: var(--dark-gold);
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
	@include items-center;
	flex-direction: column;
	.block-title{
		font-size: 28px;
		margin-bottom: 10px;
	}
	.block-icon{
		>svg{
			height: 50px;
			width: 50px;
		}
	}
	transition-duration: 0.3s;
	box-shadow: none;
	cursor: pointer;
	&:hover{
		box-shadow: 0 0 15px 5px var(--dark-gold);
	}
}