@import '/src/mixins/mixin.scss';

.navigation-button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 150px;
	height: 45px;
	font-size: 23px;

	border: 1px solid var(--gold);
	color: var(--gold-text);
	padding: 10px;
	transition-duration: 0.5s;
	background-color: var(--white);

}
.active-nav-button {
	background-color: var(--gold);
	color: white;
	transition-duration: 0.5s;
}
