@import "/src/mixins/mixin.scss";
.task{
	height: 150px;
	width: 100%;
	background-color: var(--white);
	border-radius: 15px;
	color: var(--dark-gold);
	padding: 10px;
	cursor: pointer;
	.taskName{
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		padding: 5px;
		@include gold-gradient;
		color: var(--white);
		border-radius: 5px;
	}
	.taskDescription{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		font-size: 16px;

	}
	box-shadow: none;
	transition-duration: 0.3s;
	&:hover{
		box-shadow: 0 0 15px 5px var(--white);
	}
}