@import "/src/mixins/mixin.scss";

.projectPage {
	width: 100%;
	//height: 100%;
	//height: 800px;
	border-radius: 15px;
	padding: 10px;

	@include gold-gradient;
	@include items-center;
	flex-direction: column;
	.projectTitle {
		height: 5%;
		width: 100%;
		@include items-center;
		font-size: 22px;
		margin: 0 0 10px 0;
	}
	.projectContainer {
		//height: 95%;
		margin-bottom: 20px;
		width: 100%;
		@include items-center;
		flex-direction: row;
		.projectDescription {
			width: 50%;
			height: 800px;
			background-color: var(--white);
			border-radius: 15px;
			margin: 0 10px 0 0;
			padding: 10px;
			color: black;
			overflow: scroll;
			font-size: 18px;
			//filter: blur(5px);
			white-space: pre-wrap;
		}
		.artificalIntContainer {
			width: 50%;
			height: 800px;
			background-color: var(--pearl);
			border-radius: 15px;
			padding: 10px;
			color: var(--dark-gold);
			font-size: 18px;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
			.artificalIntTitle {
				@include gold-gradient;
				padding: 10px;
				border-radius: 15px;
				color: var(--pearl);
			}
			.artificalIntText {
				height: 80%;
				overflow: scroll;
			}
			.artificalIntControl {
				color: white;
				height: 75px;
				min-width: 100%;
				padding: 10px;
				@include gold-gradient;
				border-radius: 15px;
				@include items-center;
				flex-direction: row;
				> * {
					border-radius: 15px;
					margin-right: 10px;
				}
				.intControlSubmit {
					height: 100%;
					width: 33%;
					background-color: #e4f4e7;
					color: #3f8e50;
					border: 1px solid #3f8e50;
					transition-duration: 0.3s;
					padding: 10px;
					&:hover {
						box-shadow: 0 0 20px 5px #3f8e50;
						background-color: #3f8e50;
						color: white;
					}
				}
				.intControlDecline {
					height: 100%;
					width: 33%;
					background-color: #fde4e3;
					color: #d83731;
					border: 1px solid #d83731;
					padding: 10px;
					transition-duration: 0.3s;
					&:hover {
						box-shadow: 0 0 20px 5px #d83731;
						background-color: #d83731;
						color: white;
					}
				}
				.intControlRegenerate {
					height: 100%;
					width: 33%;
					background-color: var(--pearl);
				}
			}
		}
	}
}
